header.page-header {
    position: absolute;
    width: 1440px;
    height: 608px;
    left: 0px;
    top: 26px;
    color: #AE7C78;
}



.list {
    margin: 0;
    margin-left: 130px;
    padding: 0;
    display: flex;  
    list-style: none;
    width: auto;
    text-align: center;
    white-space: nowrap;
    align-items: center;
    text-indent: 50px;
}

.main-text {
    position: absolute;
width: 1440px;
height: 608px;
left: 0px;
top: 26px;
}

.heading {
    position: absolute;
width: 384px;
height: 118px;
left: 120px;
top: 171px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;

color: #AE7C78;
}

p {
    position: absolute;
width: 384px;
height: 58px;
left: 120px;
top: 313px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #AE7C78;
}

.bottom {
    position: absolute;
width: 285px;
height: 80px;
left: 120px;
top: 435px;

background: #D89999;
border-radius: 40px;
}

.katalog {
    position: absolute;
width: 146px;
height: 20px;
left: 195px;
top: 450px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;

}

.tulpan {
    position: absolute;
width: 386px;
height: 404px;
left: 527px;
top: 230px;
background: url(anna.png);
border-radius: 10px;
}

.rose {
    position: absolute;
width: 387px;
height: 420px;
left: 933px;
top: 172px;

background: url(taisiia.png);
border-radius: 10px;
}

.group9 {
    position: absolute;
width: 82px;
height: 52px;
left: 120px;
top: 682px;
}

.delivery {
    position: absolute;
width: 152px;
height: 20px;
left: 222px;
top: 682px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* identical to box height */


color: #AE7C78;
}

.dely {
    position: absolute;
width: 285px;
height: 40px;
left: 222px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;
}

.flowers {
    position: absolute;
width: 182px;
height: 20px;
left: 628px;
top: 682px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* identical to box height */


color: #AE7C78;
}

.flow {
    position: absolute;
width: 285px;
height: 80px;
left: 628px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;
}

.bouquet1 {
    position: absolute;
width: 52px;
height: 52px;
left: 556px;
top: 682px;
}

.photo {
    position: absolute;
width: 213px;
height: 20px;
left: 1035px;
top: 682px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* identical to box height */


color: #AE7C78;
}

.ph {
    position: absolute;
width: 285px;
height: 60px;
left: 1035px;
top: 710px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;
}

.group {
    position: absolute;
left: 956px;
top: 682px;
bottom: 83.58%;
}

h2 {
    position: absolute;
width: 371px;
height: 48px;
left: 540px;
top: 870px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.02em;

color: #AE7C78;
}

.buket {
    position: absolute;
width: 228px;
height: 29px;
left: 323px;
top: 981px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #AE7C78;
}

.elegant {
    position: absolute;
width: 387px;
height: 40px;
left: 323px;
top: 1030px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #AE7C78;
}

.size {
    position: absolute;
width: 85px;
height: 20px;
left: 324px;
top: 1094px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #AE7C78;
}

.price {
    position: absolute;
width: 118px;
height: 29px;
left: 324px;
top: 1138px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #AE7C78;
}

.imgbin_flower {
    position: absolute;
width: 387px;
height: 438px;
left: 730px;
top: 954px;

background: url(imgbin_flower-bouquet-cut-flowers-floral-design-garden-roses-png.png);
}

.order {
    position: absolute;
width: 285px;
height: 80px;
left: 324px;
top: 1231px;

background: #D89999;
border-radius: 40px;
}

.ord {
    position: absolute;
width: 73px;
height: 20px;
left: 435px;
top: 1242px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;
}

.Arrow-2 {
    position: absolute;
width: 50px;
height: 0px;
left: 650px;
top: 1416px;

border: 2px solid #AE7C78;
box-sizing: border-box;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Arrow-1 {
    position: absolute;
width: 50px;
height: 0px;
left: 740px;
top: 1416px;

border: 2px solid #AE7C78;
box-sizing: border-box;
}

.sammi {
    position: absolute;
width: 387px;
height: 442px;
left: 120px;
top: 1496px;

background: url(sammi-sP5CaWEN7Do-unsplash.png);
border-radius: 10px;
}

.Rectangle-19 {
    position: absolute;
width: 387px;
height: 442px;
left: 121px;
top: 1496px;

background: rgba(174, 124, 120, 0.6);
border-radius: 10px;
}

.wedding {
    position: absolute;
width: 343px;
height: 48px;
left: 142px;
top: 1679px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #fcf8f8;
}

.bride {
    position: absolute;
width: 155px;
height: 20px;
left: 237px;
top: 1735px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #faf8f8;
}

.fresh {
    position: absolute;
width: 387px;
height: 442px;
left: 527px;
top: 1496px;

background: url(fresh-beautiful-peony-flowers-vase.png);
border-radius: 10px;
}

.Rectangle-18 {
    position: absolute;
width: 387px;
height: 442px;
left: 527px;
top: 1496px;

background: rgba(174, 124, 120, 0.6);
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.pion {
    position: absolute;
width: 337px;
height: 48px;
left: 552px;
top: 1679px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.season {
    position: absolute;
width: 252px;
height: 20px;
left: 610px;
top: 1735px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;
}

.alyssa {
    position: absolute;
width: 387px;
height: 442px;
left: 933px;
top: 1496px;

background: url(alyssa-strohmann-tnpr-hPOta0-unsplash.png);
border-radius: 10px;
}

.Rectangle-17 {
    position: absolute;
width: 387px;
height: 442px;
left: 933px;
top: 1496px;

background: rgba(174, 124, 120, 0.6);
border-radius: 10px;
}

.choice {
    position: absolute;
width: 273px;
height: 48px;
left: 990px;
top: 1679px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.sort {
    position: absolute;
width: 194px;
height: 20px;
left: 1045px;
top: 1735px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;
}

.Rectangle-79 {
    position: absolute;
width: 1200px;
height: 391px;
left: 120px;
top: 2018px;

background: #AE7C78;
}

.promo {
    position: absolute;
width: 387px;
height: 145px;
left: 222px;
top: 2200px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
}

.ferst {
    position: absolute;
width: 488px;
height: 118px;
left: 222px;
top: 2058px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;
letter-spacing: 0.02em;

color: #FFFFFF;
}

.florist {
    position: absolute;
width: 590px;
height: 391px;
left: 730px;
top: 2018px;

background: url(florist-makes-beautiful-bouquet-studio.jpg);
border-radius: 0px;
}

.four-steps {
    position: absolute;
width: 509px;
height: 48px;
left: 465px;
top: 2489px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

letter-spacing: 0.02em;

color: #AE7C78;
}

.Group3 {
    position: absolute;
width: 66.08px;
height: 52px;
left: 224px;
top: 2574px;
}

.orders {
    position: absolute;
width: 48px;
height: 20px;
left: 239px;
top: 2634px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #AE7C78;
}

.step-orders {
    position: absolute;
width: 285px;
height: 40px;
left: 120px;
top: 2662px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #AE7C78;
}

.Group2 {
    position: absolute;
width: 37.49px;
height: 52px;
left: 537px;
top: 2573px;
}

.detail {
    position: absolute;
width: 165px;
height: 20px;
left: 485px;
top: 2633px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #AE7C78;
}

.step-detail {
    position: absolute;
width: 285px;
height: 60px;
left: 425px;
top: 2661px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;
}

.Group1 {
    position: absolute;
width: 69.93px;
height: 52px;
left: 835px;
top: 2573px;
}

.pay {
    position: absolute;
width: 62px;
height: 20px;
left: 842px;
top: 2633px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #AE7C78;
}

.step-pay {
    position: absolute;
width: 285px;
height: 40px;
left: 730px;
top: 2661px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;
}

.Group4 {
    position: absolute;
width: 82.21px;
height: 52px;
left: 1131px;
top: 2573px;
}

.bring {
    position: absolute;
width: 78px;
height: 20px;
left: 1139px;
top: 2633px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #AE7C78;
}

.step-bring {
    position: absolute;
width: 285px;
height: 60px;
left: 1035px;
top: 2661px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;
}

.main-news {
    position: absolute;
width: 487px;
height: 96px;
left: 120px;
top: 2871px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
letter-spacing: 0.02em;

color: #AE7C78;
}

.news-post {
    position: absolute;
width: 387px;
height: 87px;
left: 120px;
top: 3007px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 29px;

color: #AE7C78;
}

.inst {
    position: absolute;
width: 20.2px;
height: 20px;
left: 120px;
top: 3134px;
}

.facebook {
    position: absolute;
    width: 11.5px;
    height: 20px;
    left: 161px;
    top: 3134px;
}

.twitter {
    position: absolute;
    width: 25.76px;
    height: 20px;
    left: 191px;
    top: 3134px;
}

.demi {
    position: absolute;
width: 387px;
height: 460px;
left: 933px;
top: 2801px;

background: url(demi-he-hPcxvCecdPI-unsplash.png);
}

.samantha {
    position: absolute;
width: 285px;
height: 220px;
left: 628px;
top: 2801px;

background: url(samantha-gades-nysCDwot01c-unsplash.png);
}

.insung {
    position: absolute;
width: 285px;
height: 220px;
left: 628px;
top: 3041px;

background: url(insung-yoon-jRofmV5rPl0-unsplash.png);
}

.review {
    position: absolute;
width: 152px;
height: 48px;
left: 644px;
top: 3381px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #AE7C78;
}

.marina-review {
    position: absolute;
width: 300px;
height: 80px;
left: 164px;
top: 3470px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;
}

.marina {
    position: absolute;
width: 68px;
height: 20px;
left: 280px;
top: 3566px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #AE7C78;
}

.tatiana-review {
    position: absolute;
width: 300px;
height: 80px;
left: 570px;
top: 3469px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;
}

.tatiana {
    position: absolute;
width: 66px;
height: 20px;
left: 687px;
top: 3565px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #AE7C78;
}

.olga-review {
    position: absolute;
width: 300px;
height: 80px;
left: 976px;
top: 3469px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #AE7C78;
}

.olga {
    position: absolute;
width: 50px;
height: 20px;
left: 1101px;
top: 3565px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #AE7C78;
}

.Rectangle-20 {
    position: absolute;
width: 1200px;
height: 308px;
left: 120px;
top: 3341px;

border: 1px solid #AE7C78;
box-sizing: border-box;
}

.map {
    position: absolute;
width: 1440px;
height: 644.1px;
left: 0px;
top: 3729px;

background: url(карта.png);
}

.Rectangle-78 {
    position: absolute;
width: 386px;
height: 520px;
left: 222px;
top: 3781px;

background: #F7FAFC;
box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
border-radius: 12px;
}

.wait {
    position: absolute;
width: 234px;
height: 48px;
left: 257px;
top: 3821px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */
display: flex;
align-items: center;
color: #AE7C78;
}

.contacte-address {
    position: absolute;
width: 159.18px;
height: 11.6px;
left: 257px;
top: 3911.06px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #AE7C78;
}

.address {
    position: absolute;
width: 243px;
height: 40px;
left: 257px;
top: 3943.74px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #AE7C78;
}

.mode {
    position: absolute;
width: 127px;
height: 20px;
left: 257px;
top: 4015.7px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
color: #AE7C78;
}

.operating-mode {
    position: absolute;
width: 197px;
height: 20px;
left: 257px;
top: 4049.38px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

color: #AE7C78;
}

.call {
    position: absolute;
width: 131px;
height: 20px;
left: 257px;
top: 4098.98px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

color: #AE7C78;
}

.tel {
    position: absolute;
width: 144px;
height: 20px;
left: 257px;
top: 4132.66px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

color: #AE7C78;
}

.write {
    position: absolute;
width: 134.93px;
height: 11.6px;
left: 257px;
top: 4187.26px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #AE7C78;

}

.email {
    position: absolute;
width: 141px;
height: 20px;
left: 257px;
top: 4215.94px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;

color: #AE7C78;
}

.back {
    position: absolute;
width: 1440px;
height: 97px;
left: 0px;
top: 4373px;
}

.resurs {
    position: absolute;
width: 105px;
height: 35px;
left: 125px;
top: 4397px;

}

.kat {
    position: absolute;
width: 66px;
height: 20px;
left: 328px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.dost {
    position: absolute;
width: 154px;
height: 20px;
left: 462px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
color: #FFFFFF;
}

.otz {
    position: absolute;
width: 65px;
height: 20px;
left: 684px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #FFFFFF
}

.spec {
    position: absolute;
width: 160px;
height: 20px;
left: 817px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.kont {
    position: absolute;
width: 78px;
height: 20px;
left: 1045px;
top: 4403px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.instagram_icon {
    position: absolute;
    width: 20.2px;
    height: 20px;
    left: 1228px;
    top: 4403px;
}

.facebook_icon {
    position: absolute;
    width: 11.5px;
    height: 20px;
    left: 1269px;
    top: 4403px;
}

.twitter_icon {
    position: absolute;
    width: 25.76px;
    height: 20px;
    left: 1299px;
    top: 4403px;
}